<header>
<ul>
      <li><a href="/login"  class="login">Login</a></li>
      <li><a href="/signup" class="signup">Signup</a></li>
</ul>

<div id ="head">

  <div class="container text-center">
    <h1 id="cap">Brewery Finder</h1>
    <h3 id="intro">Welcome to Brewery Finder! The place where you can find all the breweries based on name and established date.</h3>


  </div>
</div>
</header>

<body id="body">
<div id="stock">
<section class="searchform jumbotron">
<h2 id="byname">Search Brewery By Name or Established Year</h2>
<form class ="beer">
  <input id="name"  name="name" type="text" placeholder="Brewery Name">
  OR
  <input id="date"  name="established" type="text" placeholder="Established Year">
  <input type="submit" class="btn btn-primary btn-lg">
</form>
</section>

</div>
<div class="row">
  <div class="col-md-6">
  <h3 id="intro" align="center">Breweries</h3>
<div id="breweries">

  </div>
  </div>
  <div class="col-md-6">
  <h3 id="intro" align="center">Saved Websites</h3>
<div id="savedbrew">

  </div>
  </div>
</div>
<div id="container"></div>


<div id="brew-container">

</div>

  <footer>
    <div className="footer-copyright">
      <div className="container">
        <p>Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://github.com/dmaul12" target="_blank">David Maul</a></p>
      </div>
    </div>
  </footer>

</body>
