<h1>Brewery Finder</h1>
<body>
<header>
  <div class="forrest-img">
    <img src="http://pdxpedicab.com/home/wp-content/uploads/2013/09/Brewery.jpg" alt="image" />
  </div>
  <div class="about-page">

      <p>Welcome to Brewery Finder! The place where you can find all the breweries based on name and established date.</p>

  </div>
</header>

<div id='enter-info'>Enter brewery name</div>
<div id="stock">

<form>
  <input id="name" name="name" type="text" placeholder="Brewery Name">
  <input type="submit">
</form>

</div>
<h3>Brewery</h3>
<div id="brew-container">



  <ul id="breweries">
    <!--  recipe will be rendered -->
  </ul>

</div>
</body>
