<header>
<div id ="head">
  <div class="container text-center">
    <h1 id="cap">Brewery Finder</h1>
    <p>Welcome to Brewery Finder! The place where you can find all the breweries based on name and established date.</p>

    <ul>
        <Login />
        <a href="/signup" class="signup">Signup</a>
      </ul>
  </div>
</div>
</header>

<body>
<div id="stock">
<section class="searchform jumbotron">
<h2>Search Brewery By Name or Established Year</h2>
<form class ="beer">
  <input id="name"  name="name" type="text" placeholder="Brewery Name">
  <input id="date"  name="established" type="text" placeholder="Established Year">
  <input type="submit" class="btn btn-primary btn-lg">
</form>
</section>

</div>
<div id="container"></div>
<h3>Brewery</h3>
<div class="col-sm-4">

<div id="brew-container">

</div>

  <div id="breweries">

  </div>

</div>

</body>
