<!DOCTYPE html>
<html>
  <head>
    <title>BrewApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
<%# add current user and email %>

  </body>
</html>
